In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('../artifacts/sentiment_analysis.csv')

In [4]:
data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

#Data Preprocessing

In [5]:
data.shape # check the shape of the dataset

(7920, 3)

In [8]:
#check duplicated values
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7915    False
7916    False
7917    False
7918    False
7919    False
Length: 7920, dtype: bool

In [9]:
#check sum of duplicated values
data.duplicated().sum()

np.int64(0)

In [ ]:
data.isnull().sum() # check null values in the dataset

id       0
label    0
tweet    0
dtype: int64

#Text Preprocessing

Convert Uppercase to Lowercase
Remove Links
Remove Punctuations
Remove Numbers
Remove Stopwords
Stemming